.navbar.navbar-dark.navbar-expand-md.fixed-top.bg-dark {
  background-color: #3e3e3b!important;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  font-size: 1rem;
}

body {
  padding-top: 50px;
}

.portion {
  padding-top: 150px;
  text-align: center;
}

.portion.landing {
  height: 70vh;
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ),url("../../assets/img/back.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.landing .text-heading {
  color: #ffffff;
}

@media (min-width: 992px) {
  .landing .text-heading {
    text-align: left;
    padding-left: 30px;
  }
}

#about {
  background-color: #ebeced;
  color: #000000;
}

section .title {
  text-align: center;
  font-size: 2.5rem;
  padding-bottom: 1rem;
}

#about p {
  padding: 6px 0 0 0;
  text-align: center;
  font-size: 1.1rem;
}

.skill-logo {
  width: 90%;
  max-width: 103px;
  margin: 13px 0;
  padding: 0px;
}

@media (min-width: 576px) {
  .skill-logo {
    width: 75%;
  }
}

#skills {
  background: #4c586f;
  color: #fff;
  text-align: center;
}

#projects {
  text-align: center;
  background-color: #cbc5c1;
  color: #ffffff;
}

.single {
  padding: 20px;
  background-color: #333333;
  border-radius: 20px;
  margin-bottom: 20px;
  border: solid 2px #a2aab0;
}

.wrapper {
  background-color: #333;
}

.small-logo {
  width: 47px;
  margin: 5px 0;
}

.project-img {
  width: 100%;
  padding-bottom: 13px;
}

@media (min-width: 576px) {
  .project-img {
    width: 93%;
    padding-bottom: 13px;
  }
}

.project {
  background: #4c586f;
  margin-top: 2rem;
}

.card-text {
  margin-top: 20px;
}

#profile-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  max-width: 202px;
}

#about-title {
  margin-top: 20px;
}

#contact {
  background: #3e3e3b;
  text-align: center;
  color: #fff;
}

.icon {
  font-size: 2rem;
  padding-right: 13px;
}

.contact-mean {
  text-align: left;
}

.contact-text {
  display: inline-block;
  vertical-align: super;
}

#project-title {
  color: #000000;
}

.tech {
  margin: 0 auto;
  background: #333333;
  border-radius: 13px;
  padding: 13px 0;
  border: solid 2px #cbc5c1;
}

.card-link.project-links {
  color: #7ad1b5;
  text-decoration: underline;
}

.contact-text a {
  color: #7ad1b5;
  text-decoration: underline;
}

@media (min-width: 576px) {
  .skill-area {
    font-size: 2.2rem;
  }
}

@media (min-width: 576px) {
  .card-title {
    font-size: 2.2rem;
  }
}

